* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #f7f7f8;
}

body {
    font-family: "Be Vietnam Pro", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    max-width: 85%;
    margin: 0 auto;
}

