.copy-right {
    margin-top: 50px;
    border-top: 1px solid #F1F1F3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-right p {
    padding-top: 50px;
    color: #656567;
}