.header {
    display: flex;
}

.header-content h2 {
    font-size: 40px;
    font-weight: 600;
    color: #262626;
    margin-bottom: 6px;
}

.header-content p {
    font-weight: 400;
    color: #59595a;
}

.header-btn {
    display: flex;
    align-items: flex-end;
    margin-left: 200px;
}

.header-btn button {
    border-radius: 8px;
    border: 1px solid #f1f1f3;
    background-color: #fcfcfd;
    padding: 18px 24px;
    color: #262626;
    font-weight: 500;
    width: 120px;
    height: 63px;
}

.header-top {
    width: 97%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 55px;
    border-radius: 8px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #ff9500;
}

.header-content {
    font-size: 18px;
    color: #fff;
    margin-right: 16px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 24px 0;
    border-bottom: 1px solid #f1f1f3;
}

.header-nav-left {
    display: flex;
    justify-content: flex-start;
}

.header-nav-left img {
    width: 54px;
    height: 54px;
    object-fit: cover;
    margin-right: 26px;
}

.header-nav-left ul {
    display: flex;
}

.header-nav-left ul li {
    list-style: none;
    border-radius: 8px;
    padding: 14px 24px;
}

.header-nav-left a {
    text-decoration: none;
    color: #262626;
}

.header-nav-left li:hover {
    background-color: #f1f1f3;
}

.btn {
    color: #262626;
    border: none;
    background-color: transparent;
}

.btn-login {
    border-radius: 8px;
    padding: 14px 34px;
    background-color: #ff9500;
    color: #fff;
    margin-left: 30px;
}
