
.hero-section {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}


.hero-top {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border: 1px solid #f1f1f3;
    border-radius: 11px;
    background-color: #fcfcfd;
    padding: 14px 30px 14px 20px;
}

.hero-top .abstract-line {
    position: absolute;
    top: -30px;
    left: -30px;
}

.hero-icon {
    width: 62px;
    height: 62px;
    object-fit: cover;
}


h1 {
    margin-left: 10px;
    font-weight: 600;
    font-size: 48px;
    color: #1a1a1a;
}

h1 strong {
    font-weight: 600;
    font-size: 48px;
    color: #ff9500;
}


.hero-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

h2 {
    font-weight: 500;
    font-size: 38px;
    color: #262626;
    height: 57px;
}

.hero-bottom p {
    font-weight: 400;
    font-size: 18px;
    color: #262626;
    margin-top: 10px;
    height: 27px;
}


.hero-btn {
    margin-top: 60px;
}

.btn-explore {
    font-weight: 600;
    padding: 18px 24px;
    border-radius: 8px;
    color: #fff;
    background-color: #ff9500;
    margin-right: 12px;
}

.btn-pricing {
    font-weight: 500;
    padding: 18px 24px;
    border: 1px solid #f1f1f3;
    border-radius: 8px;
    color: #262626;
    background-color: #ffffff;
}


.hero-img {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

.hero-img > img {
    margin-bottom: 100px;
}


.hero-img-container {
    display: flex;
    justify-content: space-around;
    border-radius: 12px;
    border: 1px solid #f1f1f3;
    background-color: #fcfcfd;
    padding: 30px;
    margin-bottom: 100px;
}

.hero-img-container img {
    padding: 30px 40px;
    object-fit: cover;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #f1f1f3;
}

.hero-img-container img:last-child {
    border-right-width: 0;
}