* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 1rem;
    font-family: sans-serif;
}
header {
    border: 0.1rem solid #dddddd;
}
img {
    width: 3rem;
    height: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
}

ul li {
    display: inline-block;
    padding: 1rem;
}

ul li a {
    text-decoration: none;
    color: #333333;
    font-weight: 600;

}

.nav {
    position: absolute;
    display: inline-block;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.dropdown-1 {
    position: absolute;
    border: 0.0625rem solid #dddddd;
    background-color: #ffffff;
    top: 3rem;
    left: 1rem;
    width: 11rem;
    display: none;
}

.dropdown-2 {
    position: absolute;
    border: 0.0625rem solid #dddddd;
    background-color: #ffffff;
    top: 0;
    left: 10.9rem;
    width: 12rem;
    display: none;
}

.dropdown-1 li {
    display: block;
    padding: 0.5rem;
    position: relative;
}

.dropdown-1 li a {
    font-weight: 400;
}

.dropdown-1 li:hover {
    background: #f5f5f5;
}

.dropdown-1 li:hover a {
    color: #d62828;
}

.news:hover > .dropdown-1 {
    display: block;
}

.dropdown-1 li:hover > .dropdown-2 {
    display: block;
}

.dropdown-1 .dropdown-2 li a {
    color: black;
}

.dropdown-2 li:hover a {
    color: #d62828;
}

.news {
    position: relative;
}

.arrow {
    position: absolute;
    top: 1.5rem;
    right: -0.2rem;
    border-width: 0.2rem;
    border-style: solid;
    border-color: #555555 transparent transparent transparent;
}
.arrow-left {
    position: absolute;
    top: 0.8rem;
    left: 10rem;
    border-width: 0.2rem;
    border-style: solid;
    border-color:  transparent transparent transparent #555555;
}

.news:hover > a {
    color: #d62828;
    padding-bottom: 0.8rem;
    border-width: 0 0 1rem 0;
    border-style: solid;
    border-color: transparent transparent #d62828 transparent;
}